<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />

        <title>PassGen | About</title>
    </head>
    <body>
        <div class="container text-center">
            <div class="alert alert-info">
                <h2>Hello, World!</h2>
                <h2>I'm @johndoe</h2>
                <h2>This is my First Django Project.</h2>
            </div>
            <a class="btn btn-warning" href="{% url 'home' %}"
                >Return to Home</a
            >
            <br />
            <br />
            <h2>Follow me:</h2>
            <a
                class="btn btn-primary"
                href="https://www.twitter.com/johndoe"
                >Twitter</a
            >
            <a
                class="btn btn-secondary"
                href="https://www.github.com/johndoe"
                >Github</a
            >
        </div>
    </body>
</html>
